--- prosody.cfg.lua.dist.orig	2014-03-30 00:20:33.000000000 +0100
+++ prosody.cfg.lua.dist	2014-03-30 00:23:24.000000000 +0100
@@ -24,6 +24,9 @@
 
 -- Enable use of libevent for better performance under high load
 -- For more information see: http://prosody.im/doc/libevent
+-- On FreeBSD this means that you need to install luaevent AND
+-- explicitly set daemonize to false: Due to a technical limitation
+-- in prosody kqueue/libevent support won't work otherwise.
 --use_libevent = true;
 
 -- This is the list of modules Prosody will load on startup.
